.st-tabs {
  display: flex;

  .st-tabs__tabs {
    display: flex;
  }
  .st-tabs__tab {
    list-style-type: none;
    border: 1px solid #ccc;
    background-color: #eee;

    a {
      color: #333;
      text-decoration: none;
    }
  }
  .st-tabs__tab--current {
    background-color: #fff;
  }
  .st-tabs__pane {
    display: none;
  }
  .st-tabs__pane--visible {
    display: block;
  }
}

.st-tabs--horizontal {
  flex-direction: column;

  .st-tabs__tabs {
    flex-direction: row;
    border-bottom: 1px solid #ccc;
  }
  .st-tabs__tab {
    margin-bottom: -1px;
    padding-bottom: 1px;
  }
  .st-tabs__tab--current {
    border-bottom-width: 0;
  }
}

.st-tabs--vertical {
  flex-direction: row;

  .st-tabs__tabs {
    flex-direction: column;
    border-right: 1px solid #ccc;
  }
  .st-tabs__tab {
    margin-right: -1px;
    padding-right: 1px;
  }
  .st-tabs__tab--current {
    border-right-width: 0;
  }
}
